.u-section-1 .u-sheet-1 {
  min-height: 856px;
}

.u-section-1 .u-image-1 {
  height: 402px;
  object-position: 50% 91.68%;
  width: 402px;
  background-image: url("images/20210101164327_IMG_2964.JPG");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 91px;
  min-height: 16px;
  width: 91px;
  min-width: 16px;
  margin: -76px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  width: 814px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: 707px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 20px;
  padding: 20px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-1 .u-text-2 {
    width: 649px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -71px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 657px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 70px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 148px 0 10px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 312px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 118px;
  width: 118px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -27px auto 0;
  padding: 35px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  line-height: 1.1;
  width: 187px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 118px;
  width: 118px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -27px auto 0;
  padding: 35px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  line-height: 1.1;
  text-transform: uppercase;
  width: 187px;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 118px;
  width: 118px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -27px auto 0;
  padding: 35px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  line-height: 1.1;
  width: 187px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 254px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 627px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 177px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 906px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 59px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 123px 0 59px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 259px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: -10px 20px 0 7px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 303px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 272px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 834px;
  background-image: url("images/223091235-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 328px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-text-8 {
  margin: 0 auto 0 17px;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0 17px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 279px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 284px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-3 .u-image-1 {
    min-height: 688px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 270px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 234px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 790px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1460px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 1185px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 151px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 746px;
  }
} .u-section-4 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 869px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 60px 537px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 9px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 532px;
  margin: 110px 0 0 auto;
}

.u-section-4 .u-form-1 {
  height: 409px;
  background-image: none;
  margin: -592px 708px 60px 0;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-4 .u-image-1 {
    width: 458px;
    height: 449px;
  }

  .u-section-4 .u-form-1 {
    margin-top: -509px;
    margin-right: 508px;
  }

  .u-section-4 .u-btn-2 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 117px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 334px;
    height: 327px;
    margin-top: 307px;
  }

  .u-section-4 .u-form-1 {
    height: 459px;
    width: 432px;
    margin-top: -603px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}